---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "My Astro Learning Blog";
// const allPosts = Object.values(await import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>...loading</ul>
</BaseLayout>
<script>
  async function loadPosts() {
    // await makeServer(); // wait for the server to be run
    const apiUrl = "/api/posts"; // the 'api' part is the 'namespace' that's set in server.js
    let response = await fetch(apiUrl);
    let data = await response.json(); // now you can display the data on the page
    console.log(data);
    let html = "";
    data.posts.map(
      (post) => (html += `<li><a href=${post.url}>${post.title}</a></li>`),
    );

    document.querySelector("ul").innerHTML = html;
  }
  loadPosts();
</script>
