---
const { messages } = Astro.props;
---

<div>
  <h3>
    <span id="message-container">{messages[0]} </span>! Thank you for visiting!
  </h3>
  <button id="my-button"> New Greeting </button>
</div>

<script define:vars={{ messages }}>
  console.log(messages);
  document.querySelector("#my-button").addEventListener("click", function (e) {
    document.querySelector("#message-container").innerText =
      messages[Math.floor(Math.random() * messages.length)];
  });
</script>
