---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script>
      import { makeServer } from "../scripts/server.js";

      let server = makeServer().then(result => {
        console.log('returned server:', result)
        const apiUrl = "/api/posts";
  
        // Fetch JSON data from the API
        fetch(apiUrl)
          .then((response) => {
            if (!response.ok) {
              throw new Error(
                "Network response was not ok " + response.statusText,
              );
            }
            return response.json(); // Parse JSON body
          })
          .then((data) => {
            console.log("Fetched JSON data:", data);
            // You can use the data object here
          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });

      }

      );
      // URL of the API endpoint
    </script>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
